<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">

	<!-- Bootstrapの設定 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

	<!-- CSSの設定 -->
	<link th:href="@{/css/layout.css}" rel="stylesheet"></link>

    <!-- JSの設定 -->
    <script th:src="@{/js/delete.js}" type="text/javascript"></script>
    <script th:src="@{/js/paginathing.js}" type="text/javascript"></script>
    <script th:src="@{/js/pagination_config.js}" type="text/javascript"></script>

	<title>レビュつぶ</title>
</head>
<body class="body_all">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-3">
                <div class="side">
                    <br>
                    <div class="text-center">
                    	<a th:href="@{/cornellnote/index}"><img class="logo" th:src="@{/image/title_logo.png}"></a>
                    </div>
                    
                    <br>
                    <div class="side_top">
                    <img class="icon" th:src="@{/icon/pencil-square.svg}">
                        <a class="btn btn-outline-primary side_top" th:href="@{/cornellnote/entry}">
                            アウトプット【投稿】
                        </a>
                    </div>
                    
                    <form class="side_top" method="get" th:action="@{/cornellnote/search}">
                        <img class="icon-search-textbox" th:src="@{/icon/search.svg}">
                        <input type="text" class="search-side_top search-textbox" name="searchName" th:value="${searchName}">
                        <br>
                        <img class="icon" th:src="@{/icon/search.svg}">
                        <button type="submit" class="side_top search-side_top btn btn-primary" name="search">
                            検索
                        </button>
                    </form>
                    
                    <br>
                    <br>
                    <br>
                    
                    <div class="side_bottom">
                        <img class="icon" th:src="@{/icon/person-fill.svg}">
                        <a class="btn btn-outline-primary side_bottom" th:href="@{'/login/userDetail/'+ ${userId}}" th:text="${userName} + ' さん'">
                            テストユーザー さん
                        </a>
                    </div>
                <form method="post" th:action="@{/login/logout}">
                        <div class="side_bottom">
                            <img class="icon" th:src="@{/icon/box-arrow-right.svg}">
                            <button class="btn btn-outline-primary logout-btn side_bottom" type="submit">ログアウト</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-9">
                <!-- メインコンテンツ -->
                <div th:include="__${contents}__"></div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    history.replaceState(null, document.getElementsByTagName('title')[0].innerHTML, null);
    window.addEventListener('popstate', function(e) {
        window.location.reload();
    });
    
    jQuery(document).ready(function($){
        $('.list-group').paginathing({
        perPage: 5,
        pageNumbers: true
        })
    });
</script>
</body>
</html>