@charset "UTF-8";
		
        .body_all {
            background-color: #ADEBFF;
        }
        .side {
            top: 0em;
            position: sticky;
            background-color: #FFFFFF;
        }
        .logo {
        	max-width: 100%;
    		height: auto;
        }
        .icon {
        	width: 28px;
        	height: 28px;
        	margin-right: 20px;
        	margin-left: 20px;
        }
        .icon-search-textbox {
			width: 28px;
        	height: 28px;
        	margin-right: 20px;
        	margin-left: 20px;
        	opacity: 0;
        }
        .index {
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 5em;
            margin-right: 5em;
        }
        .edit {
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 5em;
            margin-right: 5em;
        }
        .entry {
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 5em;
            margin-right: 5em;
        }
        .search {
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 5em;
            margin-right: 5em;
        }
        .search-textbox {
            margin-bottom: 4px;
            background-color: #FFFFFF;
        }
        .search-side_top {
            font-size: 1.2em;
            margin-bottom: 4px;
        }
        .side_top {
            font-size: 1.2em;
            color: #FFFFFF;
            margin-bottom: 4px;
            background-color: #33B4FF;
        }
        .side_bottom {
            font-size: 1.2em;
            color: #FFFFFF;
            margin-bottom: 4px;
            background-color: #005A8F;
        }
        .logout-btn {
            font-size: 1em;
            color: #FFFFFF;
        }
        .caption {
            margin: 5px;
        }
