<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrapの設定_webjars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

    <!-- CSSの設定 -->
    <link th:href="@{/css/layout.css}" rel="stylesheet"></link>

    <title>ユーザー登録</title>
</head>
<body>
<div class="container-fuild">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <br>
            <div class="text-center">
                <img class="logo" th:src="@{/image/title_logo.png}">
            </div>
            <br>
            <div class="page-header text-center">
                <h2>ユーザー登録</h2>
            </div>
            <form method="post" th:action="@{/login/signup}" th:object="${userForm}">
                <ul>
                    <li th:each="error : ${#fields.detailedErrors()}">
                        <span class="text-danger" th:text="${error.message}">Error message</span>
                    </li>
                </ul>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="active">ユーザー名</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{userName}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">パスワード</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{userPass}">
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">登録</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>