<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrapの設定_webjars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
    
    <!-- CSSの設定 -->
    <link th:href="@{/css/layout.css}" rel="stylesheet"></link>

</head>
<body>
    <div th:fragment="index_contents">
        <div class="index text-center">
            <h2>アウトプット一覧</h2>
            <br>
            <div class="index-pagination">
                <table class="table table-light table-bordered table-striped"  th:each="out : ${outList}">
                    <tr>
                        <td class="text-left" th:text="${#dates.format(out.outDate, 'yyyy/MM/dd')} + ' にアウトプット'">日付</td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <a class="btn btn-outline-primary" th:text="${out.outTitle}" th:href="@{'/cornellnote/edit/' + ${out.outId}}">
                                タイトル
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" th:text="${out.outSummary}">要約</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>