<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	
	<!-- Bootstrapの設定_webjars -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	
</head>
<body>
	<div th:fragment="search_contents">
		<div class="search text-center">
			<h2 th:text="'「' + ${searchName} + '」の検索結果'"></h2>
			<br>
			<table class="table table-dark table-bordered table-hover table-striped"  th:each="search : ${searchResultList}">
				<tr>
					<td class="text-left" th:text="${#dates.format(search.outDate, 'yyyy/MM/dd')} + ' にアウトプット'">日付</td>
				</tr>
				<tr>
					<td class="text-left">
						<a class="btn btn-outline-light" th:text="${search.outTitle}" th:href="@{'/cornellnote/edit/' + ${search.outId}}">
							タイトル
						</a>
					</td>
				</tr>
				<tr>
					<td class="text-left" th:text="${search.outSummary}">要約</td>
				</tr>
			</table>
		</div>
		<form class="text-center" method="get" th:action="@{/cornellnote/search}">
			<button type="submit" class="btn btn-primary" name="back">
				戻る
			</button>
		</form>
	</div>
</body>
</html>